#titulo {
    margin-right: 5em;
}

#lista_citas {
    margin-top: 1.6em;
    margin-bottom: 3.5em;
}

#paciente {
    display: none;
}

#select_medico {
    margin-top: 3em;
    margin-bottom: 3.3em;
}

#datosCita {
    margin-top: 3.6em;
}