<div class="rounded ml-2 text-center" style="background-color: #8DC9F1; margin-top: -13%;">
    <span class="navbar-brand text-white mt-2 mb-4 ml-3">Carrito de compra</span>
    <div class="container-fluid" style="max-height: 210px; overflow: auto; display: inline-block;">
      <table class="container">
        <thead class="text-white text-center">
            <tr>
                <th class="pl-3">Medicamento</th>
                <th class="pr-2">Precio</th>
                <th class="pr-2">Cantidad</th>
                <th class="pl-1">Eliminar</th>
            </tr>
        </thead>
        <tbody class="table table-light">
          {# Mostramos mediante sesiones lo que está comprando el paciente logueado #}
          {% if not paciente_logueado %}
            {% if request.session.carrito.items %}
              {% for clave, valor in request.session.carrito.items %}
              <tr>
                <td>{{ valor.nombre }}</td>
                <td>{{ valor.precio }} €</td>
                <td>
                  {{ valor.cantidad }}
                  <a href="{% url 'aniadir_carrito' valor.medicamento_id %}" class="badge btn btn-dark badge-dark p-2 ml-2 mr-1">+</a>
                  <a href="{% url 'restar_carrito' valor.medicamento_id %}" class="badge btn btn-dark badge-dark p-2">-</a>
                </td>
                <td>
                  <a href="{% url 'eliminar_carrito' valor.medicamento_id %}" class="btn btn-danger btn-sm p-1">
                    <span class="fas fa-trash"></span>
                  </a>
                </td>
              </tr>
              {% endfor %}
            {% else %}
            <tr>
              <td colspan="4">
                  <div class="alert alert-danger text-center"> No tiene medicamentos en su carrito </div>
              </td>
            </tr>
            {% endif %}
            <tr>
              <td scope="row" class="pt-5"><strong>Precio total:</strong></td>
              <td class="pt-5 mr-5">{{ precio_total|floatformat:2 }} €</td>
              <td></td>
              <td></td>
            </tr>
            {% endif %}
        </tbody>
      </table>
    </div>

    {# Almacenamos las sesiones de compra del paciente #}
    <div class="text-left ml-3">
      {% if precio_total != 0 %}
      <a href="{% url 'limpiar_compra' %}" class="btn btn-warning mt-5 mb-4">
        <span class="fas fa-recycle"></span>
        <span>Limpiar</span>
      </a>
      
      {# Esta función la hacemos en sesión #}
      <a href="{% url 'compra_medicamentos' %}" class="btn btn-secondary text-center mt-5 ml-3 mb-4">
          <span class="fas fa-shopping-bag"></span>
          <span>Comprar</span>
      </a>
      {% endif %}
    </div>
  </div>