<div class="rounded ml-2 text-center" style="background-color: #8DC9F1; margin-top: -13%;">
    <span class="navbar-brand text-white mt-2 mb-4 ml-3">Carrito de compra</span>
    <div class="container-fluid" style="max-height: 300px; overflow: auto; display: inline-block;">
      <table class="container">
        <thead class="text-white text-center">
            <tr>
                <th>Medicamento</th>
                <th class="pl-4">Precio (unidad)</th>
                <th class="pl-4">Cantidad</th>
                <th class="pl-1">Eliminar</th>
            </tr>
        </thead>
        <tbody class="table table-light">
          {# Después hacer con las sesiones para cada paciente #}
          {% comment %}{% for clave, valor in request.session.carrito.items %}  {% if request.session.carrito.items %} {% endif %} {% endfor %} {% endcomment %}
          {% if not paciente_logueado %}
              <tr>
                <td>{{ nombre_medicamento }}</td>
                <td>{{ precio_acumulado }} €</td>
                <td>
                    <span>{{ cantidad }}</span>
                    {# {% url 'aniadir_cantidad' valor.medicamento_id %} #}
                    <a href="#" class="badge btn btn-dark badge-dark ml-5 pl-2 pr-2">+</a>
                    {# {% url 'restar_cantidad' valor.medicamento_id %} #}
                    <a href="#" class="badge btn btn-dark badge-dark ml-2 mr-2 pl-2 pr-2">-</a>
                </td>
                <td>
                  {# Para eliminar un medicamento del carrito #}
                  <button type="submit" class="btn btn-danger btn-sm p-2">
                    <span class="fas fa-trash"></span>
                  </button>
                </td>
              </tr>
          {% endif %}

           {# Para cuando el paciente no tiene medicamentos en su carrito #}
           {% for compra_realizada in request.session.carrito.items %}
           {% if paciente_logueado %}
           <tr>
             <td colspan="4">
               <div class="alert alert-danger text-center mt-2 mb-2">Su carrito no tiene medicamentos</div>
             </td>
           </tr>
           {% endif %}
           {% endfor %}
          <tr>
            <td scope="row" class="pt-5"><strong>Precio total:</strong></td>
            <td class="pt-5 mr-5">{{ precio_total }} €</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    {# Almacenamos las sesiones de compra del paciente #}
    <div class="text-left ml-3">
      {# {% url 'limpiar_compra' %} #}
      <a href="#" class="btn btn-warning mt-5 mb-4">
        <span class="fas fa-recycle"></span>
        <span>Limpiar</span>
      </a>
      
      {# Esta función la hacemos en sesión #}
      {# {% url 'compra_medicamento' medicamento.id %} #}
      <a href="#" class="btn btn-secondary text-center mt-5 ml-3 mb-4">
          <span class="fas fa-shopping-bag"></span>
          <span>Comprar</span>
      </a>
    </div>
  </div>