<div class="rounded ml-2 text-center" style="background-color: #8DC9F1; margin-top: -10%;">
    <span class="navbar-brand text-white mt-2 mb-4 ml-3">Carrito de compra</span>
    <div class="container-fluid" style="max-height: 300px; overflow: auto; display: inline-block;">
      <table class="container">
        <thead class="text-white text-center">
            <tr>
                <th>Medicamento</th>
                <th class="pl-4">Precio</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody class="table table-light">
        {% if request.session %}
        <tr>
          <td>{{ value.nombre }}</td>
          <td>{{ value.precio }}</td>
          <td>
            {{ value.cantidad }}
            <a href="#" class="badge btn btn-dark badge-dark ml-5">+</a>
            <a href="#" class="badge btn btn-dark badge-dark ml-2">-</a>
          </td>
        </tr>
        {% else %}
        <tr>
          <td colspan="3">
            <div class="alert alert-danger text-center">No tiene productos en el carrito</div>
          </td>
        </tr>
        {% endif %}
        <tr>
          <td scope="row" class="pt-5"><strong>Precio total:</strong></td>
          <td colspan="2" class="pl-5 pt-5">€</td>
        </tr>
        </tbody>
      </table>
    </div>

    {# Almacenar las sesiones de compra del paciente #}
    <div class="text-left ml-3">
      <a href="#" class="btn btn-danger mt-5 mb-3">
        <span class="fas fa-trash"></span>
        <span>Limpiar</span>
      </a>
      
      <a href="#" class="btn btn-primary text-center mt-5 ml-3 mb-3">
          <span class="fas fa-save"></span>
          <span>Guardar</span>
      </a>
    </div>
  </div>