{# Extendido de registro.html #}
{% extends 'seguroprivado/registro.html' %}

{% block title %} Listado de citas de {{ request.user }} {% endblock %}

{% if not request.user.is_staff %}

{% endif %}

{% block citas_paciente %}

{# Mensajes para las citas #}
{% if messages %}
    {% for cita_paciente in messages %}
        {% if cita_paciente.tags %}
        <div class="container-fluid alert alert-{{ cita_paciente.tags }} mx-auto mt-auto text-center">
            {{ cita_paciente }}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="container-fluid mx-auto bg-light rounded pr-5 pl-5 mt-4">
    <div class="container-fluid mt-3 ml-4 p-1 rounded">
        <a href="#" class="btn btn-success">
            <span class="fas fa-user-plus"></span>
            <span>Pedir cita</span>
        </a>
    </div>
    
    <div class="container-fluid mx-auto bg-light rounded mt-2">
        {% if not cita_list %}
        <div class="alert alert-warning text-center">No se han encontrado citas para {{ request.user }}</div>
        {% else %}
        <h1 class="text-primary text-center mb-4 p-md-3">Citas de {{ request.user }}</h1>
        {# Contenedor para poner un scroll a la tabla #}
        <div class="container-fluid" style="max-height: 260px; overflow: auto; display: inline-block;">
            <table class="table table-bordered text-center">
                <thead class="table table-dark text-white">
                    <tr>
                        <th>Nombre del Médico</th>
                        <th>Apellidos del Médico</th>
                        <th>Edad del médico</th>
                        <th>Nombre de usuario del Médico</th>
                        <th>Fecha de cita</th>
                        <th>Observaciones</th>
                    </tr>
                </thead>
                <tbody class="table table-light">
                    {% for cita in cita_list %}
                    <tr>
                        <td>{{ cita.idMedico.nombre }}</td>
                        <td>{{ cita.idMedico.apellidos }}</td>
                        <td>{{ cita.idMedico.edad }}</td>
                        <td>{{ cita.idMedico.username }}</td>
                        <td>{{ cita.fecha|date:"d/m/Y" }}</td>
                        <td>{{ cita.observaciones }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        <a href="{% url 'inicio' %}" class="btn btn-dark mt-2 mb-3 ml-3">
            <span class="fas fa-arrow-left"></span>
            <span>Volver al menú</span>
        </a>
    </div>
</div>
{% endblock %}

 {% comment %} Código del copyright {% endcomment %}
 {% include "seguroprivado/footer.html" %}