{# Extendido de registro.html #}
{% extends 'seguroprivado/registro.html' %}

{% block title %} Citas actuales del médico {{ request.user }} {% endblock %}

{% block cita_actual %}
<div class="container-fluid mx-auto bg-light rounded pr-5 pl-5 mt-4 pb-5 pt-5">
    <div class="container-fluid mx-auto bg-light rounded mt-2">
        {% if request.user.is_authenticated and request.user.is_staff %}
            {% if not citas_hoy %}
            <div class="container-fluid">
                <div class="alert alert-warning text-center">El médico {{ request.user }} no tiene citas para hoy</div>
            </div>
            {% else %}

            <h1 class="text-primary text-center mb-5 p-md-3">Lista de citas de hoy</h1>

            {# Mensaje para cuando se haya realizado una cita #}
            {% if messages %}
            {% for cita_realizada in messages %}
            <div class="container-fluid pr-1">
                <div class="alert alert-success mx-auto mt-auto text-center">
                    {{ cita_realizada }}
                </div>
            </div>
            {% endfor %}
            {% endif %}
            
            <div class="container-fluid mb-5" style="max-height: 300px; overflow: auto; display: inline-block;">
                <table class="table table-bordered text-center">
                    <thead class="table table-dark text-white">
                        <tr>
                            <th>Nombre y apellidos del paciente</th>
                            <th>Edad de paciente</th>
                            <th>Dirección de paciente</th>
                            <th>Foto de paciente</th>
                            <th>Nombre de usuario de paciente</th>
                            <th>Tratamiento</th>
                            <th>Observaciones</th>
                            <th>Operaciones</th>
                        </tr>
                    </thead>
                    <tbody class="table table-light">
                    {% for cita in citas_realizadas %}
                    <tr style="background-color: #D3FFD9;">
                        <td>{{ cita.idCompra.idPaciente.nombre }} {{ cita.idCompra.idPaciente.apellidos }}</td>
                        <td>{{ cita.idCompra.idPaciente.edad }}</td>
                        <td>{{ cita.idCompra.idPaciente.direccion }}</td>
                        <td><img src="{{ cita.idCompra.idPaciente.foto.url }}" class="img-circle" width="70" height="70"></td>
                        <td>{{ cita.idCompra.idPaciente.username }}</td>
                        <td>{{ tratamiento }}</td>
                        <td>{{ observaciones }}</td>
                        <td>
                            <div class="col-md-offset-4 ml-4 pr-5 pl-5 justify-content-center">
                                <div class="rounded bg-success text-white p-2 mr-5">
                                    <span class="fas fa-user-check"></span>
                                    <span>Cita realizada</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    
                    {% for cita in citas_medico %}
                    {# Condiciones para determinar si se ha realizado o no la cita #}
                    {% if cita.idMedico.username == request.user.username and cita.fecha|date:"Y-m-d" == fecha_actual %}
                    {# Color rojo de fondo para cuando la cita no se ha realizado #}
                    {% comment %}{% for cita_paciente in pendiente %}{% endcomment %}
                    {% comment %}{% if pendiente %}{% endcomment %}
                    <tr style="background-color: #FFD9D9;">
                        <td>{{ cita.idPaciente.nombre }} {{ cita.idPaciente.apellidos }}</td>
                        <td>{{ cita.idPaciente.edad }}</td>
                        <td>{{ cita.idPaciente.direccion }}</td>
                        <td><img src="{{ cita.idPaciente.foto.url }}" class="img-circle" width="70" height="70"></td>
                        <td>{{ cita.idPaciente.username }}</td>
                        <td class="text-danger">Sin tratamiento disponible</td>
                        <td>{{ cita.observaciones }}</td>
                        <td>
                            <form action="{% url 'realizar_citas' cita.id %}" method="POST">
                                {% csrf_token %}
                                <nav class="navbar navbar-expand-lg">
                                    <select class="p-2 border-0 bg-info text-white" name="medicamentos[]" id="tratamiento" required>
                                        <option selected>Seleccione medicamento</option>
                                        {% for medicamento in medicamentos %}
                                            <option value="{{ medicamento.id }}">{{ medicamento.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                    
                                    <button type="submit" class="btn btn-secondary ml-3 pl-3 pr-3">
                                        <span class="fas fa-save"></span>
                                    </button>
                                </nav>
                            </form>
                        </td>
                    </tr>                        
                    {% comment %}{% endif %}{% endcomment %}
                    {% comment %}{% endfor %}{% endcomment %}
                        
                    {% for cita_paciente in realizada %}
                    {% if realizada %}
                        <tr style="background-color: #D3FFD9;">
                            <td>{{ nombre }} {{ apellidos }}</td>
                            <td>{{ edad }}</td>
                            <td>{{ direccion }}</td>
                            <td><img src="{{foto.url }}" class="img-circle" width="70" height="70"></td>
                            <td>{{ username }}</td>
                            <td>{{ tratamiento }}</td>
                            <td>{{ observaciones }}</td>
                            <td>
                                <div class="col-md-offset-4 ml-4 pr-5 pl-5 justify-content-center">
                                    <div class="rounded bg-success text-white p-2 mr-5">
                                        <span class="fas fa-user-check"></span>
                                        <span>Cita realizada</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                    {% endfor %}

                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        {% endif %}

        <a href="{% url 'citas_medico' %}" class="btn btn-dark ml-3 mt-5 mb-4">
            <span class="fas fa-arrow-left"></span>
            <span>Volver a citas del médico</span>
        </a>
    </div>
</div>
{% endblock %}