{# Extendido de registro.html #}
{% extends 'seguroprivado/registro.html' %}

{% block title %} Citas actuales del médico {{ request.user }} {% endblock %}

{% block cita_actual %}
<div class="container-fluid mx-auto bg-light rounded pr-5 pl-5 mt-4 pb-5 pt-5">
    <div class="container-fluid mx-auto bg-light rounded mt-2">
        {% if request.user.is_authenticated and request.user.is_staff %}
            {% if not citas_hoy %}
            <div class="container-fluid">
                <div class="alert alert-warning text-center">El médico {{ request.user }} no tiene citas para hoy</div>
            </div>
            {% else %}
            {# Lanzamos mensaje para cuando no se han encontrado citas del médico #}
            <h1 class="text-primary text-center mb-5 p-md-3">Citas de hoy</h1>
            {# Contenedor para poner un scroll a la tabla #}
            <div class="container-fluid mb-5" style="max-height: 268px; overflow: auto; display: inline-block;">
                <table class="table table-bordered text-center">
                    <thead class="table table-dark text-white">
                        <tr>
                            <th>Nombre y apellidos del paciente</th>
                            <th>Dirección del paciente</th>
                            <th>Edad del paciente</th>
                            <th>Foto de paciente</th>
                            <th>Nombre de usuario del paciente</th>
                            <th>Fecha de cita</th>
                            <th>Observaciones</th>
                            <th>Operaciones</th>
                        </tr>
                    </thead>
                    <tbody class="table table-light">
                        {% for cita in citas_doctor_list %}
                        {% if cita.idMedico.username == request.user.username and cita.fecha|date:"Y-m-d" ==  fecha_actual %}
                        {# Condición para ver si se ha realizado o no la cita #}
                        <tr style="background-color: #FFD9D9;">
                            <td>{{ cita.idPaciente.nombre }} {{ cita.idPaciente.apellidos }}</td>
                            <td>{{ cita.idPaciente.direccion }}</td>
                            <td>{{ cita.idPaciente.edad }}</td>
                            <td><img src="{{ cita.idPaciente.foto.url }}" class="img-circle" width="80" height="80"></td>
                            <td>{{ cita.idPaciente.username }}</td>
                            <td>{{ cita.fecha|date:"d/m/Y" }}</td>
                            <td>{{ cita.observaciones }}</td>
                            <td>
                                <a href="#" class="btn btn-success">
                                    <span class="fas fa-hand-holding-medical"></span>
                                    <span>Realizar cita</span>
                                </a>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        {% endif %}

        <a href="{% url 'citas_medico' %}" class="btn btn-dark ml-3 mt-5 mb-4">
            <span class="fas fa-arrow-left"></span>
            <span>Volver a citas de médico</span>
        </a>
    </div>
</div>
{% endblock %}