{% extends 'seguroprivado/registro.html' %}

{% block title %} Formulario para comprar medicamento {% endblock %}

{% block pedir_cita %}
<div class="rounded bg-light col-3 row m-0 justify-content-center align-items-center" id="formulario">
  
  <span class="navbar-brand text-primary mt-2 mb-4 ml-5">Formulario del carrito de compra</span>

  <form action="{% url 'compra_medicamento' %}" method="POST" id="data_medico">
    {% csrf_token %}

    <label for="medicamento" class="text-primary mt-2" style="margin-left: -0.9em;">{{ form.nombre.label }}</label>

    <div class="input-group input-navbar mb-2">
        <div class="input-group-prepend row">
            <span class="input-group-text" id="icon-addon1"><span class="fas fa-prescription-bottle-alt"></span></span>
        </div>
        <select class="form-control" name="medicamento[]" id="medicamento" required>
            <option selected>Selecciona un medicamento</option>
            {% for medicamento in medicamentos %}
                <option value="{{ medicamento.id }}">{{ medicamento.nombre }}</option>
            {% endfor %}
        </select>
    </div>

    {# Mensajes de errores de validación en el formulario #}
    {% if messages %}
    {% for error in messages %}
        {% if error.tags %}
        <div class="input-group input-navbar">
          <div class="input-group-prepend row">
            <div class="alert alert-{{ error.tags }} mx-auto text-center mb-2 mt-3">{{ error }}</div>
          </div>
        </div>
        {% endif %}
    {% endfor %}
    {% endif %}

    <a href="{% url 'inicio' %}" class="row btn btn-danger btn-block mt-5">
      <span class="fas fa-arrow-left"></span>
      <span>Cancelar</span>
    </a>
    
    <button type="submit" class="row btn btn-primary btn-block text-center mt-4">
        <span class="fas fa-cart-plus"></span>
        <span>Agregar compra</span>
    </button>
  </form>
</div>
{% endblock %}