{# Extendido de registro.html #}
{% extends 'seguroprivado/registro.html' %}

{% block title %} Formulario de Médicos {% endblock  %}

{% block aniadir_medico %}
<div class="rounded bg-light col-3 row m-0 justify-content-center align-items-center" id="formulario">
  
  <span class="navbar-brand text-primary m-3">Añadir Médico</span>
  
  <form action="{% url 'form_medico' %}" method="POST" id="data_medico">
    {% csrf_token %}

    <span class="text-primary" id="dato">Nombre</span>

    <div class="input-group input-navbar mb-2" id="medico">
      <div class="input-group-prepend row">
        <span class="input-group-text" id="icon-addon1"><span class="fas fa-regular fa-id-badge"></span></span>
      </div>
      {{ form.nombre }}
    </div>
    {{ form.nombre.of_field_errors }}

    <span class="text-primary" id="dato">Apellidos</span>
    
    <div class="input-group input-navbar mb-2" id="medico">
      <div class="input-group-prepend row">
        <span class="input-group-text" id="icon-addon1"><span class="fas fa-regular fa-id-badge"></span></span>
      </div>
      {{ form.apellidos }}
    </div>
    {{ form.apellidos.of_field_errors }}

    <span class="text-primary" id="dato">Edad</span>

    <div class="input-group input-navbar mb-2" id="medico">
      <div class="input-group-prepend row">
        <span class="input-group-text" id="icon-addon1"><span class="fas fa-regular fa-user-clock"></span></span>
      </div>
      {{ form.edad }}
    </div>
    {{ form.edad.of_field_errors }}

    <span class="text-primary" id="dato">Fecha de alta</span>
    <div class="input-group input-navbar mb-2" id="medico">
      <div class="input-group-prepend row">
        <span class="input-group-text" id="icon-addon1"><span class="fas fa-solid fa-calendar-day"></span></span>
      </div>
      {{ form.fechaalta }}
    </div>
    {{ form.fechaalta.of_field_errors }}

    <span class="text-primary" id="dato">Especialidad</span>

    <div class="input-group input-navbar mb-2" id="medico">
      <div class="input-group-prepend row">
        <span class="input-group-text" id="icon-addon1"><span class="fas fa-list"></span></span>
      </div>
      {{ form.especialidad }}
    </div>
    {{ form.especialidad.of_field_errors }}
    
    <span class="text-primary" id="dato">Nombre de usuario</span>

    <div class="input-group input-navbar mb-2" id="medico">
      <div class="input-group-prepend row">
        <span class="input-group-text" id="icon-addon1"><span class="fas fa-solid fa-user"></span></span>
      </div>
      {{ form.username }}
    </div>
    {{ form.username.of_field_errors }}

    <span class="text-primary" id="dato">Contraseña</span>

    <div class="input-group input-navbar mb-4" id="medico">
      <div class="input-group-prepend row">
        <span class="input-group-text" id="icon-addon1"><span class="fas fa-lock"></span></span>
      </div>
      {{ form.password }}
    </div>
    {{ form.password.of_field_errors }}

    {# Mensajes de errores de validación en el formulario #}
    {% if messages %}
    {% for error in messages %}
        {% if error.tags %}
        <div class="alert alert-{{ error.tags }} row mx-auto text-center">
            {{ error }}
        </div>
        {% endif %}
    {% endfor %}
    {% endif %}

    <a href="{% url 'medicos' %}" class="row btn btn-danger btn-block">
      <span class="fas fa-arrow-left"></span>
      <span>Cancelar</span>
    </a>
    
    <button class="row btn btn-primary btn-block text-center">
      <span class="fas fa-user-plus"></span>
      <span class="navbar-toggler-icon">Añadir</span>
    </button>
  </form>
</div>
{% endblock %}