{# Formulario para especificar el tratamiento #}

{% extends 'seguroprivado/registro.html' %}

{% block title %} Especificación del tratamiento {% endblock %}

{% block cita_realizada %}
<div class="rounded bg-light col-3 row mb-5 justify-content-center" id="formulario">
  
  <span class="navbar-brand text-primary mt-2 mb-3 ml-2">Formulario para realizar cita</span>
  
  <form action="{% url 'form_realizar_citas' cita.id %}" method="POST">
    {% csrf_token %}

    <label for="nombre" class="text-primary mt-3" style="margin-left: -1em;">Tratamiento del paciente</label>

    <div class="input-group input-navbar mb-2">
      <div class="input-group-prepend row">
        <span class="input-group-text" id="icon-addon1"><span class="fas fa-prescription-bottle-alt"></span></span>
      </div>
    <input type="text" class="form-control form-control-sm mx-auto" placeholder="Escriba nombre de medicamento" name="nombre" id="nombre" size="60" required>
    </div>


    <label for="precio" class="text-primary mt-3" style="margin-left: -1em;">Precio del tratamiento</label>
    
    <div class="input-group input-navbar mb-2">
      <div class="input-group-prepend row">
        <span class="input-group-text" id="icon-addon1"><span class="fas fa-dollar-sign"></span></span>
      </div>
    {# Ponemos el precio para introducir con dos decimales #}
    <input type="number" class="form-control form-control-sm mx-auto" placeholder="Escriba su precio" name="precio" id="precio" size="60" step=".01" required>
    </div>

    {# Mensajes de error de validación para el tratamiento #}
    {% if messages %}
    {% for medicamento in messages %}
        {% if medicamento.tags %}
        <div class="input-group input-navbar">
            <div class="input-group-prepend row mt-4">
                <div class="alert alert-{{ medicamento.tags }} row mx-auto text-center mb-2 mt-3">
                    {{ medicamento }}
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    {% endif %}

    <a href="{% url 'citas_actuales' %}" class="btn btn-danger btn-block mt-5">
      <span class="fas fa-arrow-left"></span>
      <span>Cancelar</span>
    </a>
    
    <button class="btn btn-primary btn-block text-center mb-4 mt-3" type="submit">
      <span class="fas fa-notes-medical"></span>
      <span>Realizar cita</span>
    </button>
  </form>
</div>
{% endblock %}