{# Extendido de registro.html #}
{% extends 'seguroprivado/registro.html' %}

{% block title %} Formulario para pedir citas {% endblock %}

{% block pedir_cita %}
<div class="rounded bg-light col-3 row m-0 justify-content-center align-items-center" id="formulario">
  
  <span class="navbar-brand text-primary m-3">Pedir Cita</span>
  
  <form action="{% url 'form_cita' request.user.id %}" method="POST" id="data_medico">
    {% csrf_token %}
    
    {# El propio paciente es quien debe pedir la cita (es decir, que se añade 'el mísmo') #}

    <span class="text-primary" id="dato">Médico</span>
    <div class="input-group input-navbar mb-2">
      <div class="input-group-prepend row">
        <span class="input-group-text" id="icon-addon1"><span class="fas fa-solid fa-calendar-day"></span></span>
      </div>
      
    </div>

    <span class="text-primary" id="dato">Fecha de cita</span>
    <div class="input-group input-navbar mb-2">
      <div class="input-group-prepend row">
        <span class="input-group-text" id="icon-addon1"><span class="fas fa-solid fa-calendar-day"></span></span>
      </div>
      
    </div>


    <span class="text-primary" id="dato">Observaciones</span>

    <div class="input-group input-navbar mb-2">
      <div class="input-group-prepend row">
        <span class="input-group-text" id="icon-addon1"><span class="fas fa-list"></span></span>
      </div>
      
    </div>

    {# Mensajes de errores de validación en el formulario #}
    {% if messages %}
    {% for error in messages %}
        {% if error.tags %}
        <div class="alert alert-{{ error.tags }} row mx-auto text-center">
            {{ error }}
        </div>
        {% endif %}
    {% endfor %}
    {% endif %}

    <a href="{% url 'citas_paciente' %}" class="row btn btn-danger btn-block">
      <span class="fas fa-arrow-left"></span>
      <span>Cancelar</span>
    </a>
    
    <button class="row btn btn-primary btn-block text-center">
      <span class="fas fa-plus"></span>
      <span class="navbar-toggler-icon">Añadir</span>
    </button>
  </form>
</div>
{% endblock %}