{# Extendido de registro.html #}
{% extends 'seguroprivado/registro.html' %}

{% block title %} Formulario para pedir citas {% endblock %}

{% block pedir_cita %}
<div class="rounded bg-light col-3 row m-0 justify-content-center align-items-center" id="formulario">
  
  <span class="navbar-brand text-primary">Formulario de Cita</span>
  
  {% for paciente in pacientes %}
  {% if paciente.username == request.user.username %}
  <form action="{% url 'form_cita' paciente.id %}" method="POST" id="data_medico">
    {% csrf_token %}

    
    {# El propio paciente es quien debe pedir sus citas #}
    <div class="input-group input-navbar mb-2">
      <div class="input-group-prepend row">
        <span class="input-group-text" id="icon-addon1"><span class="fas fa-solid fa-user-injured text-info"></span></span>
      </div>
      {{ form.idPaciente }}
    </div>
    {{ form.idPaciente.of_field_errors }}

    
    <label for="idMedico" class="text-primary" style="margin-left: -0.9em;">{{ form.idMedico.label }}</label>
    
    <div class="input-group input-navbar mb-2">
      <div class="input-group-prepend row">
        <span class="input-group-text" id="icon-addon1"><span class="fas fa-solid fa-user-md"></span></span>
      </div>
      {{ form.idMedico }}
    </div>
    {{ form.idMedico.of_field_errors }}


    <label for="fecha" class="text-primary mt-2" style="margin-left: -0.9em;">{{ form.fecha.label }}</label>

    <div class="input-group input-navbar mb-2">
      <div class="input-group-prepend row">
        <span class="input-group-text" id="icon-addon1"><span class="fas fa-solid fa-calendar-day"></span></span>
      </div>
      {{ form.fecha }}
    </div>
    {{ form.fecha.of_field_errors }}


    <label for="observaciones" class="text-primary mt-2" style="margin-left: -0.9em;">{{ form.observaciones.label }}</label>

    <div class="input-group input-navbar mb-3">
      <div class="input-group-prepend row">
        <span class="input-group-text" id="icon-addon1"><span class="fas fa-solid fa-notes-medical"></span></span>
      </div>
      {{ form.observaciones }}
    </div>
    {{ form.observaciones.of_field_errors }}

    {# Mensajes de errores de validación en el formulario #}
    {% if messages %}
    {% for error in messages %}
        {% if error.tags %}
        <div class="input-group input-navbar">
          <div class="input-group-prepend row">
            <div class="alert alert-{{ error.tags }} mx-auto text-center mb-2 mt-3">{{ error }}</div>
          </div>
        </div>
        {% endif %}
    {% endfor %}
    {% endif %}

    <a href="{% url 'citas_paciente' %}" class="row btn btn-danger btn-block mt-4">
      <span class="fas fa-arrow-left"></span>
      <span>Cancelar</span>
    </a>
    
    <button class="row btn btn-primary btn-block text-center">
      <span class="fas fa-plus"></span>
      <span>Pedir Cita</span>
    </button>
  </form>
  {% endif %}
  {% endfor %}
</div>
{% endblock %}