<!DOCTYPE html>
<html lang="es">
<head>
	<title>Mexi - Health & Medical WordPress Theme.</title>
	<link rel="stylesheet" href="style.css" type="text/css" media="all">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700" rel="stylesheet" type="text/css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet'>
</head>
<body>
	<div class="body-wrapper">

		<!-- nav area -->
		<div class="nav-wrapper">
			<div class="logo-wrapper">
				<h1 class="logo-title"><img src="images/logo.png"></h1>
			</div>
			<div class="nav" id= "nav" >
				<div class="nav-item active"><a class="main-nav-item"><i class="fa fa-gear"></i>Getting Start</a>
					<div class="sub-nav">
						<a class="sub-nav-item active" href="#introduction">Introduction</a>
						<a class="sub-nav-item" href="#filesincluded">Files Included</a>
						<a class="sub-nav-item" href="#codestructure">File Structure</a>
					</div>
				</div>
				<div class="nav-item"><a class="main-nav-item"><i class="fa fa-gear"></i>Theme Installation</a>
					<div class="sub-nav">
						<a class="sub-nav-item" href="#system-requrements">System Requirements</a>
						<a class="sub-nav-item" href="#install-theme">Install Theme</a>
						<a class="sub-nav-item" href="#import-oneclkick" >Import Demo One Click</a>
						<a class="sub-nav-item" href="#childtheme" >Install Child Theme</a>
						<a class="sub-nav-item" href="#updatetheme">How to update theme</a>
						<a class="sub-nav-item" href="#updatelog">Update Log</a>
					</div>
				</div>
				<div class="nav-item"><a class="main-nav-item"><i class="fa fa-bolt"></i>Theme Options</a>
					<div class="sub-nav">
						<a class="sub-nav-item" href="#logo-settings">Logo Settings</a>
						<a class="sub-nav-item" href="#header-settings">Header Settings</a>
						<a class="sub-nav-item" href="#breadcrumb-settings">Page Title Settings</a>
						<a class="sub-nav-item" href="#blog-settings">Blog Settings</a>
						<a class="sub-nav-item" href="#footer-settings">Footer Settings</a>
					</div>
				</div>
                <div class="nav-item"><a class="main-nav-item"><i class="fa fa-plug"></i>Plugin Settings</a>
                    <div class="sub-nav">
                        <a class="sub-nav-item" href="#contactform">Contact Form</a>

                    </div>
                </div>
				<div class="nav-item"><a class="main-nav-item"><i class="fa fa-gear"></i>Page Build With Elementor</a>
					<div class="sub-nav">
						<a class="sub-nav-item" href="#pagesetting">Create Elementor Page</a>
						<a class="sub-nav-item" href="#slidersetting">Slider Setting</a>
						<a class="sub-nav-item" href="#booksettings" >Book Appointment</a>
						<a class="sub-nav-item" href="#servicesettings" >Service Section</a>
						<a class="sub-nav-item" href="#doctorssettings" >Doctor's Section</a>
						<a class="sub-nav-item" href="#testimonialsettings" >Testimonial Section</a>
					</div>
				</div>
			</div>
		</div> 
		
		<!-- content area -->
		<div class="content-wrapper" id="content">
			
			<!-- Getting start -->
			<div class="content-section" id="introduction" style="display: block;" >
				<h3>Introduction</h3>
				<h5>Theme Name: Mexi - Health & Medical WordPress Theme.</h5>
				Thank you very much for choosing our theme. We truly appreciate and really hope that you'll enjoy our theme! <br/>
				<strong>If you like this theme, Please support us by rating us 5 stars..</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><br/><br/>

				<p>Mexi is a Fully Responsive WordPress Theme is the best medical service theme for creating a productive, splendid, and cozy website. This is highly customizable – looks awesome on tablets and mobile devices. We have included a documentation folder to describe the code structures.
				<strong>Homepage, Awesome Move Addons Plugin, Elementor Page Builder, HT WPForms, Powerfull Customize Option.</strong>
				</p>
				<h3>Theme features</h3>
				<ul>
                
                    <li>Valid HTML5, CSS3</li>
                    <li>Neat, clean and simple design</li>
                    <li>Creative and Modern Design</li>
                    <li>IcoFont Icon</li>
					<li>Subcribe Form</li>
                    <li>Cross Browser Optimization</li>
                    <li>Google Fonts</li>
                    <li>Unlimited Color Variation</li>
                    <li>One click to import demo.</li>
                    <li>Easy To Customize</li>
                    <li>WPML Support</li>	
                    <li><a href="https://wordpress.org/plugins/elementor/" target="_blank">Elementor Page Builder</a></li>
					<li><a href="https://wordpress.org/plugins/wpforms-lite/" target="_blank">Wpforms</a></li>
				</ul>
				<h3>Image Sources</h3>
				<ul>
					<li><a href="https://www.freepik.com/" target="_blank">https://www.freepik.com/</a></li>
					<li><a href="https://www.pexels.com/" target="_blank">https://www.pexels.com/</a></li>
				</ul>
			</div>
			<div class="content-section" id="filesincluded">
				<h3>Files Included</h3>
				<ul>
				    <li>Theme File -- (mexi-installable.zip)</li>
				    <li>Child Theme -- (mexi-child.zip)</li>
				    <li>Demo Content -- (Sample Data)</li>
				    <li>Documentation</li>
				</ul>
				<img src="images/installation/1.png">
			</div>
			<div class="content-section" id="codestructure">
				<h3>File Structure</h3>
				<ul>
				    <li>Css,Js,Images,Fonts -- (Assets)</li>
				    <li>template-parts --  (blog content and layout)</li>
				    <li>inc -- (All functionality)</li>
				    <li>Languages -- (mexi.pot) file</li>
				</ul>
				<img src="images/installation/2.png">
			</div>
			<div class="content-section" id="system-requrements" >
				<h3>System Requirements</h3> 
				<ul>
				    <li>WordPress 5.0 or Higher</li>
				    <li>PHP version 7.3 or greater</li>
				    <li>MySQL version 5.6 or greater OR MariaDB version 10.0 or greater</li>
				</ul>
				<a target="_blank" href="https://wordpress.org/about/requirements/">Reference</a>
				<h5>Recommended PHP Configuration Limits</h5>
				<p>Many issues that you may run into such as: white screen, demo content fails when importing, empty page content and other similar issues are all related to low PHP configuration limits. The solution is to increase the PHP limits. You can do this on your own, or contact your web host and ask them to increase those limits to a minimum as follows:</p>
				<ul>
					<li>max_input_vars = 3000</li>
					<li>memory_limit = 512M</li>
					<li>max_execution_time = 600</li>
					<li>max_input_time = 600</li>
					<li>upload_max_filesize = 256M</li>
					<li>post_max_size = 256M</li>
				</ul>
				<h5>WordPress Installation</h5>
				<p>To use this theme you must have a working version of Wordpress already installed. If you need help in installing wordpress follow the instruction here: <a target="_blank" href="https://codex.wordpress.org/Installing_WordPress">https://codex.wordpress.org/Installing_WordPress</a></p>

				<h5>Recommended Plugins for this theme</h5>
				<p>In addition, you can take an advantage of your theme experience with these following plugins:</p>
				<ul>
					<li>Elementor</li>
					<li>Mailchimp for wp</li>
					<li>Move Addons for Elementor</li>
					<li>WPForms Widget For Elementor Page Builder</li>
					<li>One click demo import</li>
				</ul>
			</div>
			<div class="content-section" id="install-theme" >
				<h3>Theme Installation</h3> 
				<ol>
					<li>All Files and documentation</li>
					<li>Installable Wordpress Theme File</li>
				</ol>
				<h5>Install theme via Wordpress Dashboard</h5>
				<img src="images/installation/3.png" />
				<ol>
					<li>Go to 'Appearance > Theme' section</li>
					<li>Click 'Add New' and select the 'Upload' option </li>
					<li>Upload the zip file</li>
					<li>All Done :)</li>
				</ol>
				<img src="images/installation/4.png" />
				<h5>Install theme via FTP</h5>
				<ol>
					<li>Access to the file on your server using ftp editor program</li>
					<li>Go to 'wp-content/themes' folder</li>
					<li>Extract the zip file and put the mexi-installable folder there</li>
					<li>Go to 'Wordpress Dashboard > Appearance > Theme' section to activate the theme</li>
					<li>All Done :)</li>
				</ol>
				<h5>Install Plugins</h5>
				After you install the theme, there'll be a list of suggested and recommended plugins at the top of the wordpress dashboard. <br><br>
				<img src="images/installation/5.png" /><br><br>
				If you already hide it out, you can go to 'Appearance > Install Plugins' section instead too. <br><br>
				<img src="images/installation/6.png" />
				<h5> Congratulations! you completed the basic theme setup. Now you can import demo data.</h5>
			</div>			
			<div class="content-section" id="import-oneclkick" >
				<h3>Import Demo Content By One Click</h3>
				 You must activate the one click demo importer plugin <a href="https://wordpress.org/plugins/one-click-demo-import/">https://wordpress.org/plugins/one-click-demo-import/</a> which is alerady recomended in our theme. Then follow this instructions: <br><br>
                <h5>Step: 1</h5>
                <img src="images/installation/demo-import-select.png" /><br>
                <h5>Step: 2</h5>
                <img src="images/installation/9.png" /><br>
                <h5>Step: 3</h5>
                 <img src="images/installation/congratulation.png" /><br>
                <h4> Update your permalinks after installing demo content.</h4><br>
                <img src="images/installation/11.png" /><br>

				<h4>Replace the Demo URL by your Website URL</h4><br>
				<p> Old URL: https://themes.hasthemes.com/consulte/</p>
				<p> New URL: https://example.com/</p>
                <img src="images/installation/replace-url.png" /><br>   


                <h4>Set your Home Page & Blog Post Page</h4>
                <ul>
                    <li>Go to <strong>Settings -> Reading</strong>.</li>
                    <li>For Front page displays, select <strong>A static page</strong> ( select below )</li>
                    <li>Choose any homepage as you want... from the dropdown for Front page</li>
                    <li>Click <strong>Save Changes</strong></li>
                </ul><br>                
                <img src="images/installation/homepage-setting.png" /><br><br>
                <h4>Set your header menu</h4><br>
                <img src="images/installation/menu-setting1.png" /><br><br>
                <h4>Import Default Contact Form</h4>
                <h5>You can do step by step as image below to build contact form</h5>
                <br>
                <img src="images/plugins/contact/wpform1.png" /><br><br>
                <img src="images/plugins/contact/18.png" /><br><br>
                <h5>Set your contact form by Elementor</h5>
                <img src="images/plugins/contact/19.png" /><br><br><br>
			</div>	

			<div class="content-section" id="childtheme" >
				<h3>Install child theme</h3>
				 <p>You must activate the main theme to install child theme, it will help you to override main theme features, you will have an advantage when the theme will be update and your own changes will have no effects while updating. Please follow these instruction to intsall child theme.</p><br><br>
				<img src="images/installation/child1.png" /><br><br>
				<ul>
					<li>Use functions.php to override logic and functions</li>
					<li>Use style.css to override theme default style</li>
					<li>Location: (wp-content/theme/theme-child/your-folder or your file</li>
				</ul>
                <img src="images/installation/child3.png" /><br><br>
                <p>If you want to change another file of this theme just copied that file with same location on main theme folder and paste it at child theme. </p>
                <img src="images/installation/child4.png" /><br><br>
			</div>	
			<!-- Update -->
			<div class="content-section" id="updatetheme">
				<h3>How to update theme</h3>
				<h5>1. First of all keep a backup of your theme, then you need to install <strong>Twenty seventeen/fifteen/sixteen</strong>theme</h5>
				<img src="images/update/1.png"><br><br>
				<h5>2. Delete the main theme</h5>
				<img src="images/update/2.png" /><br/><br/>
				<h5>3. Upload new theme and activate. </h5>
				<img src="images/installation/4.png" /><br/><br/>
				<p>Everything is okay have fun, if its not there is something wrong happened, please try to do the same process again.</p>
			</div>
			
			<div class="content-section" id="updatelog">
				<h3>Update Log</h3>
				<p> 1.0 Initial Release</p><br>
			</div>
			<!-- Manual Settings -->
			<div class="content-section" id="pagesetting">
                <h3>Elementor Page Setting</h3>
                <p>Create a page adding Elementor fullwidth</p>
                <br><br>
                <p><img src="images/plugins/elementor-page.png" /></p>
                <br><br>
                <p>After publishing the page open with Elementor Editor</p><br>
                
                <p><img src="images/plugins/elementor-page-open.png" /></p><br><br>
			</div>
            <div class="content-section" id="slidersetting">
                <h3>Slider Section Customize</h3>
                <br>
                <h5>Set the slider background</h5><br>
                <p><img src="images/plugins/slider/1.png" /></p>
                <br>
                <h5>Update the slider content</h5><br>
                <p><img src="images/plugins/slider/2.png" /></p>
                <br>
                <h5>Update the Service content</h5>
                <p><img src="images/plugins/slider/3.png" /></p>

            </div>
            <div class="content-section" id="booksettings">
                <h3>Book Appointment Section</h3>
                <br>
                <h5>Update the Appointment Title</h5>
                <p><img src="images/plugins/book/1.png" /></p>
                <br>
                <h5>Select the Appointment Form</h5><br>
                <p><img src="images/plugins/book/2.png" /></p>
            </div>            
			<div class="content-section" id="servicesettings">
				<h3>Service Section</h3>
				<br>
				<h5>To Change the doctor's image.</h5>
				<img src="images/plugins/service/1.png" /><br>
				<h5>Change Service title and Typography</h5>
				<img src="images/plugins/service/2.png" /><br>
			</div>            
			<div class="content-section" id="doctorssettings">
				<h3>Doctors Section</h3>
				<br>
				<h5>Change Doctor's image, title and Typography</h5>
				<img src="images/plugins/doctor/1.png" /><br>
			</div>
			<div class="content-section" id="testimonialsettings">
				<h3>Testimonial Section</h3>
				<br>
				<h5>To add Testimonial Content and update Typography</h5>
				<img src="images/plugins/testimonial/1.png" /><br>
			</div>

			<!-- Customize Options -->
			<div class="content-section" id="site-settings">
				<h3>Site Identity / Logo Settings</h3>
				<p>- Logo Change Option</p>
				<p>- Site Title</p>
				<p>- Tagline</p></br>
				<p><img src="images/themeoption/1.png" /></p><br>				
			</div>
			<div class="content-section" id="bback-settings">
				<h3>Background Colors</h3>
				<h5>1. Body Background Options </h5>
				<p>- You can change body background options to display on your website.</p><br>
				<img src="images/themeoption/2.png" /><br>
				<img src="images/themeoption/3.png" />
				<h3>Background Image</h3>
				<h5>1. Body Background Image Options</h5>
				<p>- You can change body background image options to display on your website.</p><br>
				<img src="images/themeoption/3-1.png" />
				<img src="images/themeoption/3-2.png" />	
			</div>
			<div class="content-section" id="menu-settings">
				<h3>Menu Settings</h3>
				<h5>1. Menu Typography </h5>
				<p><img src="images/themeoption/8.png" /></p><br>	
				<h5>2. Menus</h5>
				<p><img src="images/themeoption/9.png" /></p><br>
				<p><img src="images/themeoption/10.png" /></p><br>
				<p><img src="images/themeoption/11.png" /></p><br>				
			</div>

			<div class="content-section" id="logo-settings">
				<h3>Logo Settings</h3>
				<h5>1. Logo Enable/Disable & Upload</h5>
				<p><img src="images/themeoption/1.png" /></p><br>	
			</div>

			<div class="content-section" id="breadcrumb-settings">
				<h3>Page Title and Bredcrumb Settings</h3><br>
				<p><img src="images/themeoption/page-title/pagetitle.png" /></p>
			</div>

			<div class="content-section" id="header-settings">
				<h3>Header Settings</h3>
				<h5>Select the Mexi Theme option from the customizer panel</h5>
				<p><img src="images/themeoption/header/1.png" /></p><br>
				<h5>You can change the header bg color and menu color from here.</h5><br>
				<p><img src="images/themeoption/header/2.png" /></p><br>
				<h5>You can show/hide the login button and can add an additional button from here.</h5><br>
				<p><img src="images/themeoption/header/3.png" /></p>
			</div>
			<div class="content-section" id="blog-settings">
				<h3>Blog Layout Settings</h3>
				<h5>To hide the read more button and content "Checked" these option</h5>
				<p><img src="images/themeoption/blog/1.png" /></p><br>

			</div>			

			<div class="content-section" id="footer-settings">
				<h3>Footer Settings</h3>
				<ul>
					<li>Footer background image</li>
					<li>Footer background color</li>
					<li>Widgets title color</li>
					<li>Widgets content color</li>
					<li>Widgets link hover color</li>
					<li>Footer copyright text</li>
				</ul>
				<h5>To add footer widget content.</h5>
				<p><img src="images/themeoption/footer/1.png" /></p>
				<h5>To update the color and Copyright text </h5>
				<p><img src="images/themeoption/footer/2.png" /></p>
			</div>
		
			<!-- Plugin Setting -->

			<div class="content-section" id="contactform">
                <h3>Contact Form</h3>
                <p>You can do step by step as image below to build contact form</p>
                <h5>Import Contact Form</h5><br>
                <img src="images/plugins/contact/wpform1.png" /><br><br>
                <img src="images/plugins/contact/18.png" /><br><br>
                <h5>Set your contact form by Elementor</h5>
                <img src="images/plugins/contact/19.png" /><br>
			</div>

		</div>

	</div>
</div> <!-- body-wrapper -->
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="script.js"></script>
</body>
</html>