{# Extendido de registro.html #}
{% extends 'seguroprivado/registro.html' %}

{% block title %} Listado de medicamentos {% endblock %}

{% block eliminar_medico %}{% endblock %}

{% block lista_medicamentos %}

{# Mensajes para el CRUD de medicamentos #}
{% if messages %}
    {% for medicamento in messages %}
        {% if medicamento.tags %}
        <div class="container-fluid alert alert-{{ medicamento.tags }} mx-auto mt-auto text-center">
            {{ medicamento }}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="container-fluid mx-auto bg-light rounded pr-2 pl-2 mb-5 mt-4 pb-5 pt-5">
    <div class="container-fluid ml-4 mt-4 p-1 rounded">
        <a href="{% url 'form_medicamento' %}" class="btn btn-success">
            <span class="fas fa-plus"></span>
            <span>Añadir</span>
        </a>
    </div>
    
    <div class="container-fluid mx-auto bg-light rounded mt-2">
        {% if not medicamento_list %}
        <div class="alert alert-warning text-center">No se han encontrado medicamentos</div>
        {% else %}
        <h1 class="text-primary text-center mb-5 p-md-3">Lista de Medicamentos</h1>
        
        <div class="container-fluid mt-3 mb-5" style="max-height: 258px; overflow: auto; display: inline-block;">
            <table class="table table-bordered text-center">
                <thead class="table table-dark text-white">
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Receta</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th colspan="2">Operaciones</th>
                    </tr>
                </thead>
                <tbody class="table table-light">
                    {% for medicamento in medicamento_list %}
                    <tr>
                        <td>{{ medicamento.nombre }}</td>
                        <td>{{ medicamento.descripcion }}</td>
                        {% if medicamento.receta == 's' %}
                            {# Representamos un icono de color azul si tiene receta #}
                            <td class="text-info"><span class="fas fa-solid fa-prescription-bottle"></span></td>
                        {% else %}
                            {# Representamos un icono de color rojo si es de venta libre #}
                            <td class="text-danger"><span class="fas fa-solid fa-prescription-bottle"></span></td>
                        {% endif %}
                        <td>{{ medicamento.precio|floatformat:2 }} €</td>
                        <td>
                            {% if medicamento.stock == 0 %}
                            <span class="rounded bg-warning p-2 text-white">{{ medicamento.stock }}</span>
                            {% else %}
                            <span class="rounded bg-primary p-2 text-white">{{ medicamento.stock }}</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'editar_medicamento' medicamento.id %}" class="btn btn-info btn-sm">
                                <span class="fas fa-edit"></span>
                                <span>Editar</span>
                            </a>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm" onclick="eliminar({{ medicamento.id }})">
                                <span class="fas fa-trash"></span>
                                <span>Eliminar</span>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        <a href="{% url 'inicio' %}" class="btn btn-dark ml-3 mb-5">
            <span class="fas fa-arrow-left"></span>
            <span>Volver al menú</span>
        </a>
    </div>
</div>
{% endblock %}

{% block copyright %}
    {% comment %} Código del copyright {% endcomment %}
    {% include "seguroprivado/footer.html" %}
{% endblock  %}