{% extends 'seguroprivado/registro.html' %}
{% load static %}

{% block title %} Listado de médicos {% endblock %}

{% block lista_medicos %}
<div class="container bg-light rounded">
    <div class="container mt-5 rounded">
        <a href="#" class="btn btn-success">
            <span class="fas fa-user-plus"></span>
            <span>Añadir médico</span>
        </a>
    </div>
    
    <div class="container">
        {% if not medico_list %}
        <div class="alert alert-warning text-center">No se han encontrado médicos</div>
        {% else %}
        <h1 class="text-center text-success">Lista de Médicos</h1>
    
        <table class="table table-bordered text-center">
            <thead class="table table-info text-white">
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Edad</th>
                    <th>Fecha de alta</th>
                    <th>Especialidad</th>
                    <th>Nombre de usuario</th>
                    <th colspan="3">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <div class="overflow-auto">
                    {% for medico in medico_list %}
                    <tr>
                        <td>{{ medico.nombre }}</td>
                        <td>{{ medico.apellidos }}</td>
                        <td>{{ medico.edad }}</td>
                        <td>{{ medico.fechaalta }}</td>
                        <td>{{ medico.especialidad }}</td>
                        <td>{{ medico.username }}</td>
                        <td>
                            <a href="#" class="btn btn-dark">
                                <span class="fas fa-list"></span>
                                <span>Dato de médico</span>
                            </a>
                            <a href="#" class="btn btn-info">
                                <span class="fas fa-edit"></span>
                                <span>Editar</span>
                            </a>
                            <a href="#" class="btn btn-danger">
                                <span class="fas fa-trash"></span>
                                <span>Eliminar</span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </div>
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}