{% extends 'seguroprivado/inicio.html' %}
{% load static %}

{% block title %} Listado de pacientes {% endblock  %}

{% block lista_pacientes %}
<div class="container mt-5 bg-light rounded">
    {% if not paciente_list %}
    <div class="alert alert-warning text-center">No se han encontrado pacientes</div>
    {% else %}
    <h1 class="text-center text-primary mb-4">Lista de Pacientes</h1>

    <table class="table table-bordered text-center">
        <thead class="table table-dark text-white">
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Edad</th>
                <th>Dirección</th>
                <th>Foto</th>
                <th>Nombre de usuario</th>
                <th>Operaciones</th>
            </tr>
        </thead>
        <tbody class="table table-light">
            {% for paciente in paciente_list %}
            <div class="overflow-auto">
                <tr>
                    <td>{{ paciente.nombre }}</td>
                    <td>{{ paciente.apellidos }}</td>
                    <td>{{ paciente.edad }}</td>
                    <td>{{ paciente.direccion }}</td>
                    <td><img src="{{ paciente.foto.url }}" class="img-circle" width="80" height="80"></td>
                    <td>{{ paciente.username }}</td>
                    <td>
                        {% if paciente.activo == 1 %}
                        <a href="#" class="btn btn-warning text-white">
                            <span class="fas fa-toggle-on"></span>
                            <span>Desactivar</span>
                        </a>
                        {% else %}
                        <a href="#" class="btn btn-primary">
                            <span class="fas fa-toggle-off"></span>
                            <span>Activar</span>
                        </a>
                        {% endif %}
                    </td>
                </tr>
            </div>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}