{% comment %} Extendido de inicio.html {% endcomment %}
{% extends 'seguroprivado/inicio.html' %}
{% load static %}

{% block title %} Listado de pacientes {% endblock  %}

{% block inicio %}
<div class="container">
    <h1 class="text-center text-success">Lista de Pacientes</h1>

    <table class="table table-bordered text-center">
        <thead class="table table-info text-white">
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Edad</th>
                <th>Dirección</th>
                <th>Foto</th>
                <th>Nombre de usuario</th>
                <th>Operaciones</th>
            </tr>
        </thead>
        <tbody>
            <div class="overflow-auto">
                {% for paciente in pacientes %}
                <tr>
                    <td>{{ paciente.nombre }}</td>
                    <td>{{ paciente.apellidos }}</td>
                    <td>{{ paciente.edad }}</td>
                    <td>{{ paciente.direccion }}</td>
                    <td><img src="{{ paciente.foto.url }}" class="img-circle" width="100" height="100"></td>
                    <td>{{ paciente.username }}</td>
                    <td>
                        <a href="#" class="btn btn-primary">
                            <span class="fas fa-toggle-off"></span>
                            <span>Activar</span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </div>
        </tbody>
    </table>
</div>
{% endblock %}