{# Extendido de registro.html #}
{% extends 'seguroprivado/registro.html' %}

{% block title %} Tienda de medicamentos {% endblock %}

{% block tienda_medicamentos %}
<div class="container-fluid mx-auto bg-light rounded pr-5 pl-5 mt-4 pb-5 pt-5">
    <div class="container-fluid mx-auto bg-light rounded mt-2">
        {% if request.user.is_authenticated %}
            {% if not medicamentos %}
            <div class="alert alert-warning text-center">No se han encontrado medicamentos en el sistema</div>
            {% else %}
            
            {# Para mostrar el informe PDF de la factura cuando el paciente haya terminado al menos una compra #}
            {% if compras_paciente %}
            <nav class="navbar navbar-white bg-white ml-5 mb-4 justify-content-md-start">
                <a href="{% url 'factura' %}" class="btn btn-info ml-2">
                    <span class="fas fa-file-pdf"></span>
                    <span>Factura de compra</span>
                </a>
            </nav>
            {% endif %}

             {# Mensaje para cuando el paciente realiza su compra #}
             {% if messages %}
             {% for compra_realizada in messages %}
             <div class="container-fluid pr-1">
                 <div class="alert alert-success mx-auto mt-auto text-center">
                     {{ compra_realizada }}
                 </div>
             </div>
             {% endfor %}
             {% endif %}

            <div class="container ml-3">
                <h1 class="text-primary text-center text-left mb-3 p-md-3">Medicamentos de la tienda</h1>
            </div>

            {# Para mostrar los medicamentos de la tienda #}
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        <div class="col-11">
                            <div class="row">
                                {# Para el scroll vertical de la tabla #}
                                <div class="container-fluid" style="max-height: 300px; overflow: auto; display: inline-block;">
                                    <table class="table table-bordered text-center">
                                        <thead class="table table-dark text-white">
                                            <tr>
                                                <th>Nombre de medicamento</th>
                                                <th>Descripción</th>
                                                <th>Receta</th>
                                                <th>Precio (por unidad)</th>
                                                <th>Stock</th>
                                                <th>Operaciones</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table table-light">
                                        {% for medicamento in medicamentos %}
                                        <tr>
                                            <td>{{ medicamento.nombre }}</td>
                                            <td>{{ medicamento.descripcion }}</td>
                                            {% if medicamento.receta == 's' %}
                                                {# Icono azul si tiene receta #}
                                                <td class="text-info"><span class="fas fa-solid fa-prescription-bottle"></span></td>
                                            {% else %}
                                                {# Icono color rojo si es de venta libre #}
                                                <td class="text-danger"><span class="fas fa-solid fa-prescription-bottle"></span></td>
                                            {% endif %}
                                            <td>{{ medicamento.precio|floatformat:2 }} €</td>
                                            <td>{{ medicamento.stock }}</td>
                                            <td>
                                                {% if request.session.carrito.items %}
                                                    {% for clave, valor in request.session.carrito.items %}
                                                        {% if valor.medicamento_id == medicamento.id %}
                                                        <button class="btn btn-secondary" disabled>
                                                            <span class="fas fa-plus"></span>
                                                            <span>Añadido</span>
                                                        </button>
                                                        {% else %}
                                                        <a href="{% url 'aniadir_carrito' medicamento.id %}" name="carrito" id="carrito" class="btn btn-primary">
                                                            <span class="fas fa-cart-plus"></span>
                                                            <span>Añadir al carrito</span>
                                                        </a>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                <a href="{% url 'aniadir_carrito' medicamento.id %}" name="carrito" id="carrito" class="btn btn-primary">
                                                    <span class="fas fa-cart-plus"></span>
                                                    <span>Añadir al carrito</span>
                                                </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {# Para operar con el carrito de la compra #}
                <div class="container-fluid col-sm-4">
                    {% include "seguroprivado/carrito_compra.html" %}
                </div>
            </div>
            {% endif %}

            <div class="justify-content-lg-start">
                <a href="{% url 'inicio' %}" class="btn btn-dark mb-3 mt-4">
                    <span class="fas fa-arrow-left"></span>
                    <span>Volver al menú</span>
                </a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}