.dropdown-item:hover {
    background-color: #3CC672;
    color: #FFF;
}

.dropdown-item a {
    text-decoration: none;
}


/* Para el submenú desplegable del botón */

.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu>li:hover>.dropdown-submenu {
    display: block;
}