.dropdown-item:hover {
    background-color: #3CC672;
    color: #FFF;
}

.dropdown-item a {
    text-decoration: none;
}


/* Para el submenú desplegable del botón */

.dropdown-hover-all .dropdown-menu,
.dropdown-hover>.dropdown-menu.dropend {
    margin-left: -1px !important
}