#img_fondo {
    padding-top: 0.5%;
    background-image: url('/static/assets/img/bg_image_1.jpg');
    width: 100%;
    height: 820px;
}

#formulario {
    margin-left: 40em;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 3.6%;
    padding-right: 3.6%;
}

#dato {
    margin-left: -2.8em;
}

#paciente {
    margin-left: 5%;
}

#cancelar {
    margin-top: 6%;
}

#editar {
    padding-left: 1.5%;
}