#img_fondo {
    background-image: url('/static/assets/img/bg_image_1.jpg');
    width: 100%;
    height: 760px;
}

#titulo {
    margin-bottom: 3.8%;
    margin-left: 2.6em;
}

#formulario {
    max-width: 500px !important;
    max-height: 400px !important;
    margin-left: 40em;
    padding-top: 1%;
    padding-bottom: 21.6%;
    padding-left: 5.6%;
}

#username {
    margin-bottom: 2.1em;
}

#password {
    margin-bottom: 9%;
}

#registro {
    margin-bottom: 5.7%;
}

#mensaje {
    font-size: 14px;
}

#login {
    padding-right: 2.5em;
}